@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wdth,wght@0,50..125,100..900;1,50..125,100..900&family=Sigmar&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 12
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #202020;
    color: #ffffff;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#logo img{
    width: 32px;
    height: 32px;
}

#logo p{
    font-size: 20px;
}

#links ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
#links ul li a{
    text-decoration: dashed;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.button{
    text-decoration: none;
    color: #202020;
    background-color: #D6D6D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 20px;
    border-radius: 32px;
}

.button p{
    font-size: 16px;
    font-weight: 500;
}